html {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}       

h2 {
    font-size: 48px;
    font-weight: black;
    color: #424040;
    text-transform: uppercase;
    display: inline-block;
}

.container {
    width: 1110px;
    margin: auto;
}

header {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    width: 460px;
    justify-content: space-between;
}

.nav_link a{
    font-size: 14px;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    font-weight: 900;
}